.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

body {
    background-color: rgb(27, 22, 22);
    overflow-x: hidden;

}

a {
    color: #E6DED3;

}

p {
    color: #E6DED3;
    font-size: 20px;
    line-height: 25px;
    text-indent: 5%;
}

#date {
    color: #c4c3d0;

}

.insta-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

}

.instagram-media {
    width: auto !important;
    margin: 0 auto !important;
    
}
