body {
    background-color: rgb(27, 22, 22);
    font-family: Eva;

}

p {
    color: #E6DED3;

}

a {
    color: #E6DED3;

}

@font-face {
    font-family: Eva;
    src: url(assets/EVA-Matisse_Standard.ttf)

}
