body {
    background-color: rgb(27, 22, 22);
    overflow-x: hidden;
    font-family: Eva;

}

p {
    color: #E6DED3;
    font-size: 20px;
    line-height: 25px;
    text-indent: 5%;
}

#date {
    color: #c4c3d0;

}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;


}

a {
    color: #E6DED3;

}

.insta-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

}

.instagram-media {
    width: auto !important;
    margin: 0 auto !important;

}

.arrow {
    display: inline-block;
    width: 7.5px;
    height: 7.5px;
    border-top: 2px solid #E6DED3;
    border-right: 2px solid #E6DED3;
    margin: 5px;

}

.arrow-right {
    transform: rotate(45deg);
}

@font-face {
    font-family: Eva;
    src: url(assets/EVA-Matisse_Standard.ttf)
}