body {
    background-color: #4e6f96;
    font-family: Eva;

}

h1 {
    color: #000000;

}

p {
    color: #ccb610;

}

@font-face {
    font-family: Eva;
    src: url(assets/EVA-Matisse_Standard.ttf);
}
