body {
    background-color: #2e4557;
    font-family: Eva;

}

h1 {
    color: #ece2d0;

}

h2 {
    color: #ece2d0;

}

p {
    color: #fff;

}

footer {
    color: #ece2d0;
}

@font-face {
    font-family: Eva;
    src: url(assets/EVA-Matisse_Standard.ttf);

}
