body {
    background-color: #496960;
    font-family: Eva;
    
}

h1 {
    color: #ece2d0;
}

h2 {
    color: #ece2d0;

}

p {
    color: #202123;

}

@font-face {
    font-family: Eva;
    src: url(assets/EVA-Matisse_Standard.ttf);

}