body {
    background-color: #111;
    font-family: Eva;
}

h1 {
    color: #765898;

}

h2 {
    color: #52d053;

}

p {
    color: #eeeeee;

}


h3 {
    color: #eeeeee;
    font-size: 25px;

}

footer {
    display: block;
    color: #F7BB2A;

}

#Bibliography a {
    color: #A2B2DF;

}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}


@font-face {
    font-family: Eva;
    src: url(assets/EVA-Matisse_Standard.ttf);

}