body {
    background-color: #44342b;
    font-family: Eva;

}

h1 {
    color: #686A6C;

}

p {
    color: #eeeeee;

}

@font-face {
    font-family: Eva;
    src: url(assets/EVA-Matisse_Standard.ttf);

}