body {
    background-color: #595266;
    font-family: Eva;

}

h1 {
    color: #eeeeee;

}

h2 {
    color: #eeeeee;

}

p {
    color: #9c9c9c;

}

@font-face {
    font-family: Eva;
    src: url(assets/EVA-Matisse_Standard.ttf);

}