body {
    background-color: #445148;
    font-family: Eva;
    
}

h1 {
    color: #678590;

}

p {
    color: #788b85;

}


@font-face {
    font-family: Eva;
    src: url(assets/EVA-Matisse_Standard.ttf);

}
