body {
    background-color: #284b17cd;
    font-family: Eva;
}

h1 {
    color: #2c2c2c;

}

p {
    color: #373737;

}

@font-face {
    font-family: Eva;
    src: url(assets/EVA-Matisse_Standard.ttf);

}
