body {
    background-color: #db8f9d;
    font-family: Eva;
}

h1 {
    color: #8dd1b1;

}

p {
    color: #323232;

}

@font-face {
    font-family: Eva;
    src: url(assets/EVA-Matisse_Standard.ttf);

}
