body {
    overflow-x: hidden;
    background-color: #db8f9d;

}

h1 {
    color: #8dd1b1;
    text-align: center;
    font-size: 50px;
    line-height: 0.5;
}

p {
    color: #323232;
    font-size: 20px;
    line-height: 25px;
    font: garamond;
    text-indent: 5%;

}

#date {
    color: #c4c3d0;

}

#class {
    color: #c4c3d0;

}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

a {
    color: white;

}