body[data-slug="Traffic-lights-=-Racist"] {
  background-color: #284b17cd;
}

body[data-slug="Traffic-lights-=-Racist"] h1 {
  color: #2c2c2c;
}

body[data-slug="Traffic-lights-=-Racist"] p {
  color: #373737;
}
