.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

body{
    background-color: rgb(27, 22, 22);
    overflow-x: hidden;

}

a{
    color: rgb(223, 134, 184);

}

p{
    color: rgb(223, 134, 184);

}
