.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

h1 {
    font-size: 45px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

h2  {
    font-size: 30px;

}

img { 
    margin-top:15px; 
    margin-bottom:15px;
    margin-right: 15px;
    margin-left: 15px;
    width: 450px;
    
}



