body {
    background-color: #132448;
    overflow-x: hidden;
    
    
}

h1 {
 color: #c4ced3;
 text-align: center;
 font-size: 50px;
 line-height: 0.5;
}

h2 {
    color: #E4002C;
    text-align: center;
    font-size: 40px;
    line-height: 0.5;

}

h3 {
    color: #c4ced3;
    text-align: center;
    font-size: 30px;
    line-height: 0.5;

}

p {
 color: #c4ced3;
 font-size: 20px;
 line-height: 25px;
 padding-left: 12.5%;
 padding-right: 12.5%;

}

#chart {
    color:#686A6C;
}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

a {
    color: white;

}
