body{
    background-color: #04345fd4;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-x: hidden;

}

h1{
    color:#d1d761;
    text-align: center;
    font-size: 50px;
    line-height: 0.5;

}

p{
    color: #eeeeee;
    font-size: 20px;
    line-height: 25px;
    text-indent: 1%;
    text-align: center;


}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

a{
    color: white;

}

.links{
    font-size: 30px;
    text-align: center;

}
