body{
    background-color: rgb(27, 22, 22);
    overflow-x: hidden;

}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

#linkPapers a{ 
    font-size: 30px;
    color: #E6DED3;
    line-break: strict;    
    line-height:35px;

}

a{
    color: #E6DED3;
    line-height:5px;
    text-indent: 5%;    

}

h1{
    color: #E6DED3; 
    margin-bottom: 1px;
    
}

.arrow {
    display: inline-block;
    width: 7.5px;
    height: 7.5px;
    border-top: 2px solid #E6DED3;
    border-right: 2px solid #E6DED3;
    margin: 5px; 

  }

.arrow-right {
    transform: rotate(45deg);
  }

