
body{
    background-color: #44342b;
    font-family: 'Montserrat Alternates', sans-serif;

}

h1{
    color:#686A6C;
    text-align: center;
    font-size: 50px;
    line-height: 0.5;

}
    
p{
    color: #eeeeee;
    font-size: 20px;
    line-height: 25px;
    font: garamond;
    text-indent: 5%;

}

#date{
    color: #c4c3d0;

}

#class{
    color: #c4c3d0;

}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

a{
    color: white;
    
}
