body{
    background-color: #595266;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-x: hidden;

}

h1{
    color: #eeeeee;
    text-align: center;
    font-size: 50px;
    line-height: 0.5;

}

h2{
    color: #eeeeee;
    text-align: center;
    font-size: 45px;
    
}

p{
    color: #9c9c9c;
    font-size: 20px;
    line-height: 25px;
    font: garamond;
    text-indent: 5%;

}

#date{
    color: #c4c3d0;

}

#class{
    color: #c4c3d0;

}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

a{
    color: white;
    
}
