body{
    background-color: rgb(27, 22, 22);
    overflow-x: hidden;
    
}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

a{
    color: #b40b51;
    line-height:5px;
    text-indent: 5%;    

}


p{
    color: #b40b51;
    font-size: 30px;
    font: garamond;
    text-indent: 1%;
    font-weight: bold;
    text-decoration-line: underline;

}

img{
    display: inline;
    border: 5px solid #e6ded34e;

}

*, *::before, *::after{
    box-sizing: border-box;

}

.carousel{
    width: 100vw;
    height: 100vw;
    position: absolute;

}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.slide{
    position: relative;
    inset: 0;   
    opacity: 0;

}

.slide >img {
    display: block;
    width: fit-content;
    height: auto;
    object-position: center;

}

.slide[data-active]{
    opacity: 1;

}

.carousel-button{
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: #b40b51;
    padding: 0 .5rem;

}

.carousel-button.prev{
    left: 1rem;

}

.carousel-button.next{
    right: 1rem;
    
}
