body{
    background-color: rgb(27, 22, 22);
    overflow-x: hidden;
    
}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

a{
    color: #f4d10d;
    line-height:5px;
    text-indent: 5%;    

}


p{
    color: #f4d10d;
    font-size: 30px;
    font: garamond;
    text-indent: 1%;
    font-weight: bold;
    text-decoration-line: underline;

}

img{
    display: inline;
    border: 5px solid #e6ded34e;

}

.category{
    font-size: 45px;
    
}

h1{
    color:#f4d10d;
    text-align: center;
    font-size: 50px;
    line-height: 0.5;

}

