body{
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-x: hidden;
    
}


#date{
    color: #c4c3d0;

}

#class{
    color: #c4c3d0;

}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

.arrow {
    display: inline-block;
    width: 7.5px;
    height: 7.5px;
    border-top: 2px solid #E6DED3;
    border-right: 2px solid #E6DED3;
    margin: 5px; 

  }

.arrow-right {
    transform: rotate(45deg);
  }


