
body{
    background-color: #152e15;

}

h1{
    color:#686A6C;
    text-align: center;
    font-size: 50px;
    line-height: 0.5;

}

p{
    color: #E6DED3;
    font-size: 20px;
    line-height: 25px;
    font: garamond;
    text-indent: 5%;

}

#date{
    color: #c4c3d0;

}

.nav-bar {
    width: 100%;
    margin: 10px;
    font-size: 25px;

}

a{
    color: white;
    
}