body[data-slug="aiEDU"] {
  background-color: #2e4557;
}

body[data-slug="aiEDU"] h1 {
  color: #ece2d0;
}

body[data-slug="aiEDU"] h2 {
  color: #ece2d0;
}

body[data-slug="aiEDU"] p {
  color: #fff;
}

body[data-slug="aiEDU"] footer {
  color: #ece2d0;
}
