body[data-slug="ChatGPT-and-the-Sophistication-Point"] {
  background-color: #2e4557;
}

body[data-slug="ChatGPT-and-the-Sophistication-Point"] h1 {
  color: #ece2d0;
}

body[data-slug="ChatGPT-and-the-Sophistication-Point"] h2 {
  color: #ece2d0;
}

body[data-slug="ChatGPT-and-the-Sophistication-Point"] p {
  color: #fff;
}

body[data-slug="ChatGPT-and-the-Sophistication-Point"] footer {
  color: #ece2d0;
}
