body[data-slug="AI-investigation:-A-critique-on-a-generative-AI's-book-review-on-The-Stranger"] {
  background-color: #496960;
}

body[data-slug="AI-investigation:-A-critique-on-a-generative-AI's-book-review-on-The-Stranger"] h1 {
  color: #ece2d0;
}

body[data-slug="AI-investigation:-A-critique-on-a-generative-AI's-book-review-on-The-Stranger"] h2 {
  color: #ece2d0;
}

body[data-slug="AI-investigation:-A-critique-on-a-generative-AI's-book-review-on-The-Stranger"] p {
  color: #202123;
}
