body[data-slug="aiInvestigation"] {
  background-color: #496960;
}

body[data-slug="aiInvestigation"] h1 {
  color: #ece2d0;
}

body[data-slug="aiInvestigation"] h2 {
  color: #ece2d0;
}

body[data-slug="aiInvestigation"] p {
  color: #202123;
}
