body[data-slug="Freedom-and-possibility:-Existentialism-and-the-state-of-nature-in-Evangelion"] {
  background-color: #111;
}

body[data-slug="Freedom-and-possibility:-Existentialism-and-the-state-of-nature-in-Evangelion"] h1 {
  color: #765898;
}

body[data-slug="Freedom-and-possibility:-Existentialism-and-the-state-of-nature-in-Evangelion"] h2 {
  color: #52d053;
}

body[data-slug="Freedom-and-possibility:-Existentialism-and-the-state-of-nature-in-Evangelion"] p {
  color: #eeeeee;
}

body[data-slug="Freedom-and-possibility:-Existentialism-and-the-state-of-nature-in-Evangelion"] h3 {
  color: #eeeeee;
  font-size: 25px;
}

body[data-slug="Freedom-and-possibility:-Existentialism-and-the-state-of-nature-in-Evangelion"] footer {
  display: block;
  color: #f7bb2a;
}

body[data-slug="Freedom-and-possibility:-Existentialism-and-the-state-of-nature-in-Evangelion"] footer a,
body[data-slug="Freedom-and-possibility:-Existentialism-and-the-state-of-nature-in-Evangelion"] footer ul a {
  color: #a2b2df;
}
