body[data-slug="eva"] {
  background-color: #111;
}

body[data-slug="eva"] h1 {
  color: #765898;
}

body[data-slug="eva"] h2 {
  color: #52d053;
}

body[data-slug="eva"] p {
  color: #eeeeee;
}

body[data-slug="eva"] h3 {
  color: #eeeeee;
  font-size: 25px;
}

body[data-slug="eva"] footer {
  display: block;
  color: #f7bb2a;
}

body[data-slug="eva"] footer a,
body[data-slug="eva"] footer ul a {
  color: #a2b2df;
}
