body[data-slug="Unit-4:-Lesson-6-Formative;-The Stranger"] {
  background-color: #505050;
}

body[data-slug="Unit-4:-Lesson-6-Formative;-The Stranger"] h1 {
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  line-height: 1.1;
}

body[data-slug="Unit-4:-Lesson-6-Formative;-The Stranger"] p {
  color: #adadad;
}
