body[data-slug="Sacrifice-and-Resurrection:-The-Killing-of-gods"] {
  background-color: #213126;
}

body[data-slug="Sacrifice-and-Resurrection:-The-Killing-of-gods"] h1 {
  color: #737356;
  text-align: center;
  font-size: 50px;
  line-height: 1.1;
}

body[data-slug="Sacrifice-and-Resurrection:-The-Killing-of-gods"] p {
  color: #a0a082;
}
