body[data-slug="Monotonicity-=-Comfortability:-Absurdism-in-The-Stranger"] {
  background-color: #595266;
}

body[data-slug="Monotonicity-=-Comfortability:-Absurdism-in-The-Stranger"] h1 {
  color: #eeeeee;
}

body[data-slug="Monotonicity-=-Comfortability:-Absurdism-in-The-Stranger"] h2 {
  color: #eeeeee;
}

body[data-slug="Monotonicity-=-Comfortability:-Absurdism-in-The-Stranger"] p {
  color: #9c9c9c;
}
