body[data-slug="monotonicity"] {
  background-color: #595266;
}

body[data-slug="monotonicity"] h1 {
  color: #eeeeee;
}

body[data-slug="monotonicity"] h2 {
  color: #eeeeee;
}

body[data-slug="monotonicity"] p {
  color: #9c9c9c;
}
