body[data-slug="Christian-Mysticism-Responses"] {
  background-color: #445148;
}

body[data-slug="Christian-Mysticism-Responses"] h1 {
  color: #678590;
}

body[data-slug="Christian-Mysticism-Responses"] p {
  color: #788b85;
}
