body[data-slug="K.-and-The-Trial:-Kafka-and-the-Arbitrary"] {
  background-color: #db8f9d;
}

body[data-slug="K.-and-The-Trial:-Kafka-and-the-Arbitrary"] h1 {
  color: #8dd1b1;
}

body[data-slug="K.-and-The-Trial:-Kafka-and-the-Arbitrary"] p {
  color: #323232;
}
