body[data-slug="The-Fall-of-The-Soviet-Union"] {
  background-color: #cc0000;
}

body[data-slug="The-Fall-of-The-Soviet-Union"] h1 {
  color: #000000;
}

body[data-slug="The-Fall-of-The-Soviet-Union"] h2 {
  color: #000000;
  font-size: 30px;
  line-height: 1.1;
}

body[data-slug="The-Fall-of-The-Soviet-Union"] p {
  color: #ffd700;
}
